/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

nav.navbar {
  background-color: black;
}

/*Navbar Element Styles*/
img.pokemon-logo {
  width: 150px;
  margin-left: 100px;
  border: solid black 1px;
  background-color: black;
}

.dropdown {
  margin-right: 100px;
  background: none;
}

.btn-primary {
  background-color: black;
  border: none;
}

.btn-primary:hover {
  background-color: black;
  border: none;
}

.btn-primary:active {
  background-color: #f8f9fa;
  border: none;
}

/*Favorite List Letters*/
div.drp.counter {
  color: white;
  font-weight: 500;
}

/*Tiny Arrow Dropdown*/
button.dropdown-basic.dropdown-toggle.btn.btn-primary {
  color: white;
}

.delete {
  color: red;
  margin-left: 5px;
}

a.dropdown-item {
  text-transform: capitalize;
}

.nav-pokeballs {
  margin-left: 1600px;
}

/*Favorite Pokeball Styles*/
.ani-spin {
  width: 60px;
}

/*Favorite Pokeball Animation*/
.ani-spin:hover {
  animation: spin 2s 1 ease-in-out, gscale 2s 1 ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes gscale {
  0% {
    filter: grayscale(100%);
  }
  100% {
    filter: grayscale(0%);
  }
}

.pokedex {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 60px;
  color: red;
}

/*Individual Card Style*/
.card-body {
  padding: 5px;
  margin: 4px;
  border: solid 1px red;
  width: 30em;
}

/*Individual Card Animation*/
.card-body:hover {
  animation: bounce 0.5s linear;
  border: solid 3px red;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

/*Styles for buttons in the Card*/
.pokeball-button {
  border: none;
  background: white;
}

.btn.btn-danger {
  margin-left: 5px;
}

.pokeball {
  width: 30px;
  margin-left: 310px;;
}

/*Overall Card Display*/
h5 {
  text-transform: capitalize;
}

p.card-text {
  text-transform: capitalize;
}

.card {
  display: flex;
  width: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Styles For Individual Pokemon Pages*/
.soloimg {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.display-4 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
}

.single {
  text-align: center;
  text-transform: capitalize;
}

.detail {
  text-align: center;
  text-transform: capitalize;
  font-size: x-large;
  font-weight: 600;
}

/*Back Home button from learn more page*/
span.btn.btn-danger.btn-lg {
  /* background-color: #0D6EFD; */
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.pokemonGame {
  background-image: url("https://external-preview.redd.it/e5zoQw-hgw-LCjdhC_4G8IAcHxex5pzda_BD_FPTcBY.png?auto=webp&s=c0b96b5ec20010a15864b8a0c9b202c119e52fe8");
  background-size: 75%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  margin-top: 5%;
}

.Hidden-img {
  width: 65vw;
  max-width: 30em;
  filter: brightness(0%);
}

.Shown-img {
  max-width: 30em;
  width: 65vw;
}

.Options {
  margin-top: 5%;
  display: flex;
}

button:hover {
  background-color: #fff6d1;
  overflow: visible;
}

.load {
  font-family: "Pokemon Solid", sans-serif;
  color: #ffcb05;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3a5ea8;
}
.App-header {
  font-family: "Pokemon Solid", sans-serif;
  color: #ffcb05;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #3a5ea8;
}

.ButtonsGuesses {
  padding: 4px;
}

.Answer-text {
  padding-top: 3%;
  font-size: 40px;
  color: #ffcb05;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #3a5ea8;
  font-family: "Pokemon Solid", sans-serif;
}

.Button-div {
  font-family: none;
}

.Body-contents {
  height: 10%;
}

.startButton {
  font-weight: 600;
  border: 2px solid red;
  color: #3a5ea8;
  font-size: 15px;
  padding: 10px 36px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  overflow: visible;
  margin-bottom: 10px;
}

.startButton:hover {
  background-color: #ffcb05;
  overflow: visible;
  margin-bottom: 10px;
}

.newQuizButton {
  background: none;
  font-size: 25px;
  border: 2px solid red;
  padding: 10px 36px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  overflow: visible;
  margin-bottom: 10px;
}

.newQuizButton:hover {
  background-color: #ffcb05;
  overflow: visible;
  margin-bottom: 10px;
}

.Guess {
  background: #fff;
  font-weight: 600;
  font-size: 25px;
  padding: 10px 36px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  overflow: visible;
  color: #3a5ea8;
  border: 2px solid red;
  margin-bottom: 10px;
}

.Guess:hover {
  color: #3a5ea8;
  background-color: #ffcb05;
  overflow: visible;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.box {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.newsign{
  background-color: rgb(0, 140, 255);
  margin: 15px
}

.email{
  margin: 5px
}

.password{
  margin: 5px
}

.text-center{
  margin: 10px;
}

.typing{
  margin-left:1px
}