/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

.pokemonGame {
  background-image: url("https://external-preview.redd.it/e5zoQw-hgw-LCjdhC_4G8IAcHxex5pzda_BD_FPTcBY.png?auto=webp&s=c0b96b5ec20010a15864b8a0c9b202c119e52fe8");
  background-size: 75%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  margin-top: 5%;
}

.Hidden-img {
  width: 65vw;
  max-width: 30em;
  filter: brightness(0%);
}

.Shown-img {
  max-width: 30em;
  width: 65vw;
}

.Options {
  margin-top: 10%;
  display: flex;
}

button:hover {
  box-shadow: 0px 4px 10px 4px;
  background-color: #fff6d1;
  overflow: visible;
}

.load {
  font-family: "Pokemon Solid", sans-serif;
  color: #FFCB05;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3A5EA8;
}
.App-header {
  font-family: "Pokemon Solid", sans-serif;
  color: #FFCB05;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #3A5EA8;
}

.ButtonsGuesses {
  padding: 4px;
}
.Answer-text{
    padding-top: 5%;
    color: black;
    font-family: "Pokemon Solid", sans-serif;
}

.Button-div{
    font-family: none;
}

.Body-contents{
    height: 10%;
}

.startButton{
    background: none;;
    border: none;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 36px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    overflow: visible;
    margin-bottom: 10px;
}

.startButton:hover{
    box-shadow: 0px 4px 10px 4px;
    background-color: white;
    overflow: visible;
    margin-bottom: 10px;

}

.newQuizButton{
    background: none;;
    border: none;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 36px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    overflow: visible;
    margin-bottom: 10px;
    
}

.newQuizButton:hover{
    box-shadow: 0px 4px 10px 4px;
    background-color: white;
    overflow: visible;
    margin-bottom: 10px;

}

.Guess{
    background: #fff;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 36px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    overflow: visible;
    border: 2px solid black;
    margin-bottom: 10px;
}